[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "content/themes/darkgeek"]
	path = content/themes/darkgeek
	url = https://github.com/harrysummer/ghost-theme-darkgeek
